<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Mizdooni</display-name>
  <listener>
    <listener-class>servlet.InitializationListenerServlet</listener-class>
  </listener>
  <servlet>
    <servlet-name>servlet.RestaurantsServlet</servlet-name>
    <servlet-class>servlet.RestaurantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet.RestaurantsServlet</servlet-name>
    <url-pattern>/restaurants</url-pattern>
  </servlet-mapping>
</web-app>
