.logo{
    width: 103px;
    margin: 8px 0px 8px 53px;
}

.sticky{
    position: fixed;
    background-color: white;
    top: 0;
    box-shadow: 0px 0px 1px 0px #303030;
    z-index: 1;
}


.headTitle{
    color: #ED3545;
    font-size: 22px;
    line-height: 26px;
    margin-top: 37px;
}

.reserveBtn{
    background-color: #ED3545;
    font-size: 16px;
    border-radius: 12px;
    height: 45px;
    width: 150px;
    border: none;
    margin: 28px 40px 28px 0;
}

.welcome{
    margin-bottom: 0;
}