
.container{
    min-height: 70vh;
    margin-top: 150px;
    margin-bottom: 50px;
}

.form-check-input{
    border-radius: 12px !important;
}

.form-check-input:checked{
    color: #ED3545 !important;
    background-color: #ED3545 !important;
    box-shadow: #ED3545 !important;
}

.form-check-input:focus{
    border-color: #ED3545 !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(237, 53, 69, 0.5) !important;

}

@media only screen and  (min-width : 1000px){
    .container {
        width: 25% !important;
    }
}

@media only screen and  (max-width : 1100px){
    .container {
        width: 38% !important;
    }
}